#esquerda{
	display: none;
}

#direita{
	width: 100%;
	height: auto;
	position: absolute;
	margin-left: 0;
}

.topo{
	display: none;
}

.info{
	display: none;
}

#conteudo{
	width: 98%;
	margin: 0;
	border: 0;
	float: left;
	padding: 0 1% 0 1%;
}

.titulo_pag, .busc{
	display: none;
}

