ul#primary-nav ul {
	left: 157px;
}

.div_ocorrencias{
    margin-left: 650px;
	z-index: 10;
	top: expression( ( 0+( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	margin-top: 0;
}
